@model Customer
<h2>Update Customer</h2>
<hr />
<form asp-controller="Customer" asp-action="Put" method="post">
    <div class="col-md-4">
        <label asp-for="CustId" class="form-label"></label><br />
        <input asp-for="CustId" readonly class="form-control" />
    </div>
    <div class="col-md-4">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control"/>
    </div>
    <div class="col-md-4">
        <label asp-for="Balance" class="form-label"></label><br />
        <input asp-for="Balance" class="form-control" />
    </div>
    <div class="col-md-4">
        <label asp-for="City" class="form-label"></label><br />
        <input asp-for="City" class="form-control" />
    </div>
    <div class="col-md-4">
        <label asp-for="Status" class="form-label"></label>
        <br />
        <input asp-for="Status" class="form-check-input" disabled />
    </div>
    <div class="col-md-4">
        <input type="submit" value="Update" class="btn btn-primary"/>
        <a asp-action="Index" align="center">Cancel</a>
    </div>
</form>
